@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.fade-in-image{
  animation: fadeIn 5s;
  animation-iteration-count: infinite;
  animation-delay: 45s;
}

.fade-in-image2{
  animation: fadeIn2 5s;
  animation-iteration-count: infinite;
  animation-delay: 75s;
}
.fade-in-image3{
  animation: fadeIn3 5s;
  animation-iteration-count: infinite;
  animation-delay: 105s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  25% {
   opacity: 0.25;
  }
  50% {
   opacity: 0.5;
  }
  75% {
  opacity: 1;
  }
}
@keyframes fadeIn2 {

  25% {
   opacity: 0;
  }
  50% {
   opacity: 0.5;
  }
  75% {
  opacity: 0.75;
  }
  100% {opacity: 1;}
}
@keyframes fadeIn3 {
  75% {
  opacity: 0;
  }
  100% {opacity: 1;}
}
